.jumbotron{
    background-image: url(http://img09.deviantart.net/f88c/i/2012/139/b/a/sunny_forrest_by_peenbuiker-d50b44a.jpg);
    height: 400px;
}

.jumbotron h1, .jumbotron h3{
    color: #eEf4f1;
    text-align: center;
    position: relative;
    top:35%;
    text-shadow: 2px 2px #222222;
}

h3 a{
    color: #333333;

}

h3 a:hover{
    text-decoration: none;
    opacity: 0.4;
    color: #333333;
}

.indent-1{
    margin-left: 5%
}

.indent-2{
    margin-left: 17%;
}