.jumbotron{
    background-image: url(http://i.imgur.com/zHYnndX.jpg);
    height: 400px;
    padding: 0px;
    margin: 0px;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3{
    color: #eEf4f1;
    text-align: center;
    position: relative;
    top:40%;
    text-shadow: 2px 2px #222222;
}

.jumbotron a{
    text-decoration: none;
    color: #eEf4f1
}

.jumbotron p{
    color: #eEf4f1;
    text-align: center;
    position: relative;
    top:40%;
    text-shadow: 1.4px 1.4px #222222;
    font-size: 15px;
    margin: 3px;

}

.panel-heading a, h3 a{
    color: #333333;
    font-weight: bold;
}

.panel-heading a:hover, h3 a:hover{
    text-decoration: none;
    opacity: 0.4;
    color: #333333;
}

.indent-1{
    margin-left: 2%
}

.indent-2{
    margin-left: 5%;
}

ul{
    padding:0px;
}

.contact a{
    color: #333333;
    font-weight: bold;
}

.center-links{
  text-align: center;
}

.center-links ul{
  list-style: none;
}
