{% extends "tales/base.html" %}

{% block header %}
    <div class="jumbotron">
        <h1>About</h1>
        <h3>General info about the blog, how it's made, thank yous and my general thoughts
            behind the blog</h3>
    </div>
{% endblock header %}

{% block content %}
    <div class="col-md-2 contact">
        <h3>Contact</h3>
        <hr>
        <p>Email: banterbytes@gmail.com</p>
        <p><a href="https://github.com/nikolajlauridsen">Github</a></p>
    </div>
    <div class="col-md-8">
        <p>BanterBytes is a one man blog. I started creating this blog as an excersice in Python Crash Course, written by Eric Matthes and published by Starchpress, not long in to the excersice I changed direction and started making a blog.</p>
        <p>On this blog I'll be writing posts about various things, but primarily about my progress in coding and developing. At the same time I'm not going to limit my self by adhering to a strict topic, I feel I have something to say about a topic
            I'll write about that topic regardless hence the name BanterBytes.</p>
        <br>
        <h3>The person</h3>
        <p>I'm going to be brief here.</p>
        <p>My name is Nikolaj, I'm 20-something years old and my primary interest's can best be described as geeky</p>
        <p>I've been very fond of computers and IT in general from a quite early age, not that I showed special aptitude for it,
             but I found it very interested and would happily spend hours in front of computer. Then when I was about twelve or so
             I learned about windows batch files, and would spend many hours making prank files for my friends, and soon I conjured up a dream
             to make my own site, any site really, I just wanted to do it, exclusively because I thought it was cool.
             Now I never managed to get that site up and running...Until now, so when you click around on the site have that in mind
             this blog is not made because I want to get famous and have a thousands of people reading my blog daily. No
             no this blog is made as a learning process, and for my own enjoyment.</p>
        <h4>What about other things?</h4>
        <p>When I'm not working on self improvement I really enjoy watching movies, the outdoors and animals (especially dogs, cause dogs)
             alongside a gajillion other interests, I'm one of those people that find almost everything interesting on some level,
             other than that I'm an avid home cook and baker (not that I'm any good at it) and of course a huge gamer, suprise suprise,
             I along so many other teens ended up spending waaay to much time playing World of Warcraft (admittedly probably still do)
        </p>
        <br>
        <h3>Technicals</h3>
        <p>Banterbytes is written in python using the <a href="https://www.djangoproject.com/">Django</a> framework for the backend and <a href="http://getbootstrap.com/">Bootstrap</a> for styling</p>
        <p>Current post count: {{p_count}}</p>
        <br>
        <h3>Acknowledgements</h3>
        <p>This might be cheese but I would like to give thanks to some people and organisations.</p>
        <p>Thank you to <a href="https://github.com/">GitHub</a> and their wonderful student program, this site wouldn't be online without it, I qualified to the program (on acoount of being a stundent, suprise) and was therefor given a
        vast variety of resources such as a free domain name and hosting, things I could not have afforded on my own.</p>
        <p>and of course thank you to all GitHubs <a href="https://education.github.com/pack">partners</a> they're just as much a part of it</p>
        <p>Furthermore thank you to the people at <a href="https://www.reddit.com/r/learnpython">/r/learnpython</a> and the open source community as a whole. They make the world a better place</p>
        <p>And lastly. Thank you to all you wonderful people who spend your time writing guides, tutorials and answering questions on stackoverflow and such. You make programming possible for a huge amount of people. </p>
        <a href="#top" class="pull-right">Top</a>
    </div>
    <div class="col-md-2"></div>
{% endblock content %}
