{% extends 'tales/base.html' %}

{% block header %}
    <div class="indent-1">
       <h3>{{article.title}}</h3>
        <p>
            Topic: <a href="{% url 'tales:topic' article.topic.id %}">{{article.topic}}</a>
          | Mood: <a href="{% url 'tales:mood' article.mood.id %}">{{article.mood}}</a>
        </p>
        <p>Written {{article.date_added|date:'M d, Y \a\t H:i'}} by {{article.author}}</p>
    </div>
{% endblock header %}

{% block content %}
<!-- Article block !-->
<div class="col-md-2"></div>
<div class="article-content col-md-8">
    <p>{{article.text|safe|linebreaks}}</p>
</div>
<div class="col-md-2"></div>
{% endblock content %}