{% extends "tales/base.html" %}

{% block header %}
    <div class='jumbotron'>
        <h1>Tales of a mundane life.</h1>
    </div>
{% endblock header %}

{% block content %}
<p>Tales is a place for me to share my tales as I go through life. Currently this space is just for me</p>

<h3><a href="{% url 'tales:topics' %}">Topics:</a></h3>
<ul>
    {% for topic in topics %}
    <li>
    <a href="{% url 'tales:topic' topic.id%}">{{topic}}</a>
    </li>
    {% empty %}
    <p>No topics yet.</p>
    {% endfor %}
</ul>
<h3><a href="{% url 'tales:moods' %}">Moods:</a></h3>
<ul>
    {% for mood in moods %}
    <li>
        <a href="{% url 'tales:mood' mood.id%}">{{mood}}</a>
    </li>
    {% empty %}
    <p>No mood yet</p>
    {% endfor %}
</ul>

<h2>Recent posts:</h2>
<ul>
    {% for entry in entries%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><a href="{% url 'tales:article' entry.id %}">{{ entry.title }}</a></h3>
                <p>Topic: <a href="{% url 'tales:topic' entry.topic.id%}">{{entry.topic}}</a>
                | Mood: <a href="{% url 'tales:mood' entry.mood.id %}">{{entry.mood}}</a></p>
            </div>
            <div class="panel-body">
                {{entry.text|safe|linebreaks|truncatewords:50}}
                <p>Written {{entry.date_added|date:'M d, Y \a\t h:i'}} by {{entry.author}}</p>
            </div>
        </div>
    {% empty %}
    <li>
        <p>No blog posts to display yet.</p>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
