{% extends 'tales/base.html' %}

{% block content %}
<p>Mood: {{mood}}</p>
<p>Posts:</p>

<ul>
    {% for entry in entries %}
    <li>
        <h3><a href="{% url 'tales:article' entry.id %}">{{entry.title}}</a></h3>
        <p>Topic: <a href="{% url 'tales:topic'  entry.topic.id %}">{{entry.topic}}</a></p>
        <p>{{entry.text|safe|linebreaks|truncatewords:50}}</p>
        <p>Written {{entry.date_added|date:'M d, Y \a\t h:i'}} by {{entry.author}}</p>
    </li>
    {% empty %}
    <li>
        <p>There's no entries for this mood yet.</p>
    </li>
    {% endfor %}
</ul>
    {% endblock content %}
