{% extends "tales/base.html" %}

{% block header %}
    <div class="jumbotron">
        <h1>Moods</h1>
        <h3>Read every blog post with a specific mood.</h3>
    </div>
{% endblock header %}

{% block content %}
<div class="col-md-2"></div>

<div class="col-md-8">
    <div class="center-links">
        <ul>
            {% for mood in moods %}
                <li>
                    <h3>
                        <a href="{% url 'tales:mood' mood.id %}">{{mood}}</a>
                    </h3>
                </li>
            {% empty %}
                <li>No topics has been added yet.</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="col-md-2"></div>
{% endblock content %}
