{% extends "tales/base.html" %}

{% block header %}
    <div class="indent-1">
        <h1>Topics</h1>
        <p>Read every blog post with a specific topic.</p>
    </div>
{% endblock header %}

{% block content %}
<ul class="indent-1">
    {% for topic in topics %}
        <li>
            <h5>
                <a href="{% url 'tales:topic' topic.id %}">{{topic}}</a>
            </h5>
        </li>
    {% empty %}
        <li>No topics has been added yet.</li>
    {% endfor %}
</ul>
{% endblock content %}